{% load static %}
<!-- templates/base.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/main.css">
    <script src="/static/scripts/app.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Antares Jewelry{% endblock %}</title>
</head>

<body>
    <h1 class="store-page-name">Antares Jewelry</h1>

    {% include 'nav.html' %}
  
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>