{% extends 'base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}

<h1>Cart</h1>

{% for i in items %}
<h3>{{i.item.name}}</h3>
<h2 class="cart-quantity">Quantity: {{i.quantity}}
    <form method="post">
        {% csrf_token %}
        <button class="button change-quantity" name="plus-cart" value="{{i.item.id}}">+</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <button class="button change-quantity" name="minus-cart" value="{{i.item.id}}">-</button>
    </form>
</h2>
<a href="/a/{{i.item.id}}">
    <img src="{{i.item.img}}" alt="{{i.item.name}}" />
</a>
{% endfor %}

{% endblock %}